<%= form_for(@negotiator) do |f| %>

<% if @negotiator.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@negotiator.errors.count, "error") %> prohibited this negotiator from being saved:</h2>

  <ul>
    <% @negotiator.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<label id:"username">
  Username:
<%= f.text_field :username %>
  <div class="actions">
    <%= f.submit id: 'create_negotiator'  %>
  </div>
</label>
<% end %>
