<%= form_for(@journey,html: { class: "form-inline" }) do |f| %>
<% if @journey.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

  <ul>
    <% @journey.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<span class="span" id="user-form-controls">

    <label  for: "journey_negotiator_id" >Negotiator</label>
    <%=f.collection_select  :negotiator_id, Negotiator.all, :id, :username , {}, {class: "form-control"} %>
<label> on
  <%=f.text_field :starts, value: Time.now, class: "form-control" %>
</label>

<span class="padding"> </span>
<div class="actions">
  <%= f.submit 'Create this journey', class: "btn btn-primary" %>
</div>
</span>

<div id="map-data">
<input type='number' id="initial_latitude" value="51.519992">
<input type='number' id="initial_longitude" value="-0.098410">
<input type='number' id="initial_zoom" value="12">
<%=f.text_field :locations %>

</div>

<div class="map-view" id="map">
 <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

</div>


<% end %>
